{% extends "game/base.html" %}

{% block content %}
<header>
    <h1>Bem-vindo, {{ game.player_name }}</h1>
    <p>Você tem 6 tentativas para adivinhar a palavra.</p>
</header>

<div class="center-text">
    {% if message %}
        <h2>{{ message }}</h2>
    {% endif %}
    
    {% if not game.is_completed and game.attempts|length < 6 %}
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="attempt">Tente uma palavra:</label>
                <input type="text" name="attempt" id="attempt" class="form-control" maxlength="5" required>
            </div>
            <button type="submit" class="btn btn-custom">Enviar</button>
        </form>
    {% endif %}
    
    <h3 class="mt-4">Tentativas:</h3>
    <ul>
        {% for attempt in game.attempts %}
            <li>
                <strong>Palavra:</strong> {{ attempt.word }} <br>
                <strong>Feedback:</strong> {{ attempt.feedback|join:", " }}
            </li>
        {% endfor %}
    </ul>
</div>

<!-- Exibe as mensagens de erro -->
{% for message in messages %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
{% endfor %}

{% endblock %}

