<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
</head>
<body>
    <h1>Bem vindo à página inicial do termooo</h1>
	<p><a href="/adicionarPalavra">Inserir palavra nova no dicionário</a></p>
	<p><a href="/removerPalavra">Remover palavra do dicionário</a></p>
	<p><a href="/listarPalavras">Listar palavras do dicionário</a></p>
	<p><a href="/game/start_game.html">Iniciar jogo</a></p>
</body>
</html>

